:root {
  --input-color: rgb(147, 150, 255);
}

body {
  background-color: rgb(255, 255, 255);
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
select,
textarea,
input[type="file"],
input[type="date"] {
  border: 2px solid var(--input-color);
}
.image-container {
  padding: 5px;
  width: 100%;
  height: 200px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  border: 2px solid lightgray;
  margin-top: 15px;
  overflow: hidden;
  overflow-x: auto;
  scrollbar-width: thin; /* Width of the scrollbar */
  scrollbar-color: #888 #f0f0f0; /* Color of the scrollbar thumb and track */
}
.image-container > img {
  height: 150px;
  width: auto;
  border: 2px solid var(--dark);
}

.c-nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.sidebar {
  background-color: var(--dark) !important;
}
.menu-text {
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 5px 40px;
}
.menu-text:hover {
  color: rgb(255, 255, 255);
}
.defalt-container-style {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  overflow: hidden;
  border: 2px solid rgb(153, 165, 255);
}

.defalt-container-mod {
  margin: 15px 0;
  padding: 15px;
  border-radius: 15px;
  overflow: hidden;
  border: 2px solid rgb(230, 230, 230);
}

.t-text {
  font-size: 0.9rem;
}
.login-container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 50px;
}
.login-container h2 {
  text-align: center;
  margin-bottom: 20px;
}
.login-container button {
  width: 100%;
}
.card-animation {
  transition: box-shadow 0.3s;
}
.card-animation:hover {
  box-shadow: 0 0 20px rgba(60, 0, 98, 0.5);
}

.progress {
  min-width: 150px;
  min-height: 150px;
  background-color: #f3f3f3;
  border-radius: 50%;
  position: relative;
  display: inline-block;
  margin-right: 20px;
}

.progress::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: conic-gradient(
    var(--primary) var(--percentage),
    transparent var(--percentage)
  );
  border-radius: 50%;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  transform: rotate(calc(90deg + (360deg * var(--percentage))));
}
.pro-active::after {
  background-image: conic-gradient(
    var(--bs-success) var(--percentage),
    transparent var(--percentage)
  );
}
.pro-inactive::after {
  background-image: conic-gradient(
    var(--bs-danger) var(--percentage),
    transparent var(--percentage)
  );
}
.pro-stable::after {
  background-image: conic-gradient(
    var(--bs-warning) var(--percentage),
    transparent var(--percentage)
  );
}

.progress-text {
  font-size: 20px;
  font-family: Arial, sans-serif;
  color: #333;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  height: 100px;
  width: 100px;
  background-color: white;
  border-radius: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
